<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blogandchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Instagram"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlogAndChat"
        tools:targetApi="31">

        <activity
            android:name=".activity.CropperActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.SpecificChat"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.BlogAndChat.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SetUpActivity"
            android:exported="false"
            android:theme="@style/Theme.BlogAndChat.NoActionBar" />
        <activity
            android:name=".activity.OtherUserProfile"
            android:exported="false" />
        <activity
            android:name=".activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddPostActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
    </application>

</manifest>